@args ()

@views.main.template() -> {
<div class="px-5 py-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Dynamic solution program</h5>
            <!-- Bordered Table -->
            <form class="row" method="post" action="">
                <div class="row mb-3">
                    <p>Text to explain methods, what is does etc. Extremely important text is needed to be added. Otherwise, program won't work and everybody will regret this.</p>
                </div>
                <div class="row mb-3 col-12 col-sm-6 px-3">
                    <label for="inputModel" class="col-form-label">Model</label>
                    <input type="text" name="model" class="form-control" id="inputModel">
                </div>
                <div class="row mb-3 col-12 col-sm-6 px-3">
                    <label for="inputFunction" class="col-form-label">Function</label>
                    <input type="text" name="function" class="form-control" id="inputFunction">
                </div>
                <div class="row mb-3 col-12 col-sm-6 px-3">
                    <label for="selectDimensions" class="col-form-label">Dimensions</label>
                    <select class="form-select" name="dimensions" id="selectDimensions">
                        <option selected disabled>...</option>
                        <option>1</option>
                        <option>2</option>
                    </select>
                </div>
                <div class="row mb-3 col-12 col-sm-6 px-3">
                    <label for="inputRegion" class="col-form-label">Region</label>
                    <input type="text" name="region" class="form-control" id="inputRegion">

                </div><div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
            </form>
        </div>
    </div>
</div>
}