@import java.util.List;
@import com.standing.dto.OneDimensionObservationDto;

@args (List<OneDimensionObservationDto> observations)

@views.main.template() -> {

<div class="px-5 py-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Dynamic solution program</h5>
            <!-- Bordered Table -->
            <div class="row">
                <div class="row mb-3">
                    <p>Text to explain methods, what is does etc. Extremely important text is needed to be added.
                        Otherwise, program won't work and everybody will regret this.
                    </p>
                </div>
                <div class="px-4 col-3 mb-1">x</div>
                <div class="px-3 col-3 mb-1">y</div>
                <div class="px-2 col-3 mb-1">t</div>
                <div class="col-3 mb-1"></div>
                @for (int i = 0; i < observations.size(); i++) {
                <form method="post" class="row" action="">
                    <div class="col-3 mb-2">
                        <input type="text" name="function" value="@?observations.get(i).getArg()" class="form-control" id="@i-input-x">
                    </div>
                    <div class="col-3 mb-2">
                        <input type="text" name="function" value="@?observations.get(i).getVal()" class="form-control" id="@i-input-y">
                    </div>
                    <div class="col-3 mb-2">
                        <input type="text" name="function" value="@?observations.get(i).getTime()" class="form-control" id="@i-input-t">
                    </div>
                    <div class="col-3 mb-2">
                        <button type="submit" class="btn btn-light">Remove</button>
                    </div>
                </form>
                }
                <div>
                    <button type="submit" class="btn btn-light">Add</button>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

}