@import com.standing.dto.ResultDto

@args (
    ResultDto resultDto
)


@views.main.template() -> {
<div class="px-5 py-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Математичне моделювання</h5>
            <!-- Bordered Table -->
            <div class="row">
                <div class="row mb-3">
                    <p>Обрахунок завершено</p>
                    <p>Отримана функція: @resultDto.getFunction()</p>
                </div>
                <img id="ItemPreview" alt="">
                <div class="row">
                </div>
                <div class="text-center">
                    <a href="/model" class="btn btn-primary">На початок</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', function() {
        // Your code to be executed after the page has fully loaded
        console.log("@resultDto.getGraphPath()");
        document.getElementById("ItemPreview").src = "data:image/png;base64," + "@resultDto.getGraphPath()";

    });
</script>
}